<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uplode Profile Picture</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 h-screen text-white flex justify-center items-center">
    <div class="container max-w-72 mx-auto bg-gray-700 rounded-lg p-4 flex justify-center items-center h-auto gap-4 flex-col">
        <h1 class="text-xl my-2 ">Uplode Profile Picture</h1>
        <form class=" flex gap-4 p-3 max-w-72 flex-wrap  " action="/uplode" method="post" enctype="multipart/form-data">
            <input name = "image" type = "file">
            <input class="bg-blue-500 w-auto  px-2 py-2 rounded-lg" value="Uplode Image"  type="submit">
        </form>
    </div>
</body>
</html>